<div *ngIf="!showDetail">
  <div class="card" style="margin-bottom: 30px;">
    <div class="block font-bold text-left breport-round mb-3">
      <div class="report-title">Diferencia de inventario SAP vs Xstore</div>
      <p-progressSpinner *ngIf="isLoading" styleClass="w-4rem h-4rem spinner-position" fill="var(--surface-ground)"
        animationDuration=".5s"></p-progressSpinner>
    </div>
    <div class="card-container yellow-container">
      <app-options [showRefresh]="true" [showDownload]="true"></app-options>
      <div class="text-left mb-4" *ngIf="_optionServices.optionsState.OptionsEntity.onSearch">
        <div class="mb-2">Filtrar por:</div>
        <div class="card-container blue-container flex align-items-center justify-content-start">
          <div class="flex-1 h-4rem">
            <div class="flex flex-column  p-2">
              <label htmlFor="order_id" class="font-bold">{{searchFormEntityLabels.store}}</label>
              <p-autoComplete [(ngModel)]="selectedStore" [dropdown]="true" [suggestions]="suggestions"
                (completeMethod)="filterStores($event)" field="storeInfoName" [style]="{'width':'100%'}"
                placeholder="Seleccionar tienda"></p-autoComplete>

            </div>
          </div>
        </div>
        <div class="card-container blue-container flex align-items-center justify-content-start">
          <p class="mt-4"><p-button tooltip="Buscar" (onClick)="resetFilters()" class="mr-3">Restaurar
              filtros</p-button><p-button (onClick)="handleSearch()">Buscar</p-button></p>
        </div>

      </div>
    </div>
  </div>
  <div>
    <div class="card">
      <div class="grid" *ngIf="reportState.reportState.inventory.sapXstore.list.data.length>0">
        <div class=" col-4"></div>
        <div class=" col-4"></div>
        <div class=" col-4">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="searchText"
              (ngModelChange)="handleSearchRecords()" />
          </span>
        </div>
      </div>
      <p-table
        [value]="searchText === '' ? reportState.reportState.inventory.sapXstore.list.data : reportState.reportState.inventory.sapXstore.filter.data"
        [paginator]="true" [rows]="15" styleClass="mt-3 p-datatable-sm">
        <ng-template pTemplate="header">
          <tr class="text-sm">
            <th class="text-center" id="{{inventorySapXstoreLabels.store_id}}">
              {{inventorySapXstoreLabels.store_id}}
            </th>
            <th class="text-center" id="{{inventorySapXstoreLabels.material}}">
              {{inventorySapXstoreLabels.material}}</th>
            <th class="text-center" id="{{inventorySapXstoreLabels.year}}">
              {{inventorySapXstoreLabels.year}}
            </th>
            <th class="text-center" id="{{inventorySapXstoreLabels.sap}}">
              {{inventorySapXstoreLabels.sap}}
            </th>
            <th class="text-center" id="{{inventorySapXstoreLabels.xstore}}">
              {{inventorySapXstoreLabels.xstore}}</th>
            <th class="text-center" id="{{inventorySapXstoreLabels.difference}}">
              {{inventorySapXstoreLabels.difference}}
            </th>
            <th class="text-center" id="{{inventorySapXstoreLabels.abs}}">
              {{inventorySapXstoreLabels.abs}}
            </th>

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="6" class="text-center">
              {{isLoading ? 'Por favor espere...' : 'No hay datos para mostrar'}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-report>
          <tr class="text-sm">
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.store_id)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.material)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.year)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.sap)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.xstore)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.difference)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.abs)"></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-dialog header={{titleModal}} [(visible)]="showModal" [ngStyle]="{ 'width': widthModal }">
    <p>
      {{textModal}}
    </p>
  </p-dialog>