<main class="parent">
  <div>
    <section
      class="flex flex-column justify-content-center align-items-center gap-2"
    >
      <section>
        <img src="assets/img/404.png" alt="" />
      </section>

      <h1 class="title">Página no hallada!</h1>
      <p class="text">
        Oops! La página que busca no existe. Puede ser que se ha borrado.
      </p>

      <button
        pButton
        class="p-button-raised"
        label="Regresar"
        routerLink="/"
      ></button>
    </section>
  </div>
</main>
