<div *ngIf="!showDetail">
  <div class="card" style="margin-bottom: 30px;">
    <div class="block font-bold text-left breport-round mb-3">
      <div class="report-title">Kardex de inventario</div>
      <p-progressSpinner *ngIf="isLoading" styleClass="w-4rem h-4rem spinner-position" fill="var(--surface-ground)"
        animationDuration=".5s"></p-progressSpinner>
    </div>
    <div class="card-container yellow-container">
      <app-options [showSearch]="true" [showRefresh]="true" [showDownload]="true"
        [showFavorite]="reportState.reportState.inventory.kardex.list.data.length>0?true:false"></app-options>
      <div class="text-left mb-4" *ngIf="_optionServices.optionsState.OptionsEntity.onSearch">
        <div class="mb-2 p-2">Búsqueda por:</div>
        <div class="card-container blue-container flex align-items-center justify-content-start">
          <div class="flex-1 h-4rem">
            <div class="flex flex-column  p-2">
              <label htmlFor="order_id" class="font-bold">{{searchFormEntityLabels.store}}</label>
              <p-autoComplete [(ngModel)]="selectedStore" [dropdown]="true" [suggestions]="suggestions"
                (completeMethod)="filterStores($event)" field="storeInfoName" [style]="{'width':'100%'}"
                placeholder="Seleccionar tienda"></p-autoComplete>

            </div>
          </div>
          <div class="flex-1 h-4rem">
            <div class="flex flex-column  p-2">
              <label htmlFor="productCode" class="font-bold">{{searchFormEntityLabels.productCode}}</label>
              <input pInputText id="productCode" placeholder="Código de producto" aria-describedby="productCode-help"
                [(ngModel)]="productCode" />
            </div>
          </div>
          <div class="flex-1 h-4rem">
            <div class="flex flex-column p-2">
              <label htmlFor="status" class="font-bold">{{searchFormEntityLabels.origin}}</label>
              <section class="select" #search>
                <p-dropdown [options]="originList" [(ngModel)]="selectedOrigin" optionValue="id" optionLabel="name"
                  [filter]="true" filterBy="name" placeholder="Seleccionar status" [style]="{'width':'100%'}">
                </p-dropdown>
              </section>
            </div>
          </div>
          <div class="flex-1 h-4rem">
            <div class="flex flex-column p-2">
              <label htmlFor="from" class="font-bold">Desde</label>
              <p-calendar [(ngModel)]="from" [readonlyInput]="true" dateFormat="dd/mm/yy"></p-calendar>
            </div>
          </div>
          <div class="flex-1 h-4rem">
            <div class="flex flex-column p-2">
              <label htmlFor="to" class="font-bold">Hasta</label>
              <p-calendar [(ngModel)]="to" [readonlyInput]="true" dateFormat="dd/mm/yy"></p-calendar>
            </div>
          </div>
        </div>
        <div class="card-container blue-container flex align-items-center justify-content-start p-2">
          <p class="mt-4"><p-button tooltip="Buscar" (onClick)="resetFilters()" class="mr-3">Restaurar
              filtros</p-button><p-button (onClick)="handleSearch()">Buscar</p-button></p>
        </div>

      </div>
    </div>
  </div>
  <div ng-if>
    <div class="card">
      <div class="grid" *ngIf="reportState.reportState.inventory.kardex.list.data.length>0">
        <div class=" col-4"></div>
        <div class=" col-4 text-left">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="searchText"
              (ngModelChange)="handleSearchRecords()" />
          </span>
        </div>
      </div>
      <p-table #dt2
        [value]="searchText === '' ? reportState.reportState.inventory.kardex.list.data : reportState.reportState.inventory.kardex.filter.data"
        [paginator]="true" [rows]="15" styleClass="mt-3 p-datatable-sm">
        <ng-template pTemplate="header">
          <tr class="text-sm">
            <th class="text-center" id="{{inventoryKardexLabels.store_id}}">{{inventoryKardexLabels.store_id}}</th>
            <th class="text-center" id="{{inventoryKardexLabels.trans_seq}}">{{inventoryKardexLabels.trans_seq}}</th>
            <th class="text-center" id="{{inventoryKardexLabels.create_date}}">{{inventoryKardexLabels.create_date}}
            </th>
            <th class="text-center" id="{{inventoryKardexLabels.origin_bucket}}">
              {{inventoryKardexLabels.origin_bucket}}
            </th>
            <th class="text-center" id="{{inventoryKardexLabels.destiny_bucket}}">
              {{inventoryKardexLabels.destiny_bucket}}</th>
            <th class="text-center" id="{{inventoryKardexLabels.action_code}}">{{inventoryKardexLabels.action_code}}
            </th>
            <th class="text-center" id="{{inventoryKardexLabels.item_id}}">{{inventoryKardexLabels.item_id}}</th>
            <th class="text-center" id="{{inventoryKardexLabels.document}}">{{inventoryKardexLabels.document}}</th>
            <th class="text-center" id="{{inventoryKardexLabels.qty}}">{{inventoryKardexLabels.qty}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="9" class="text-center">
              {{isLoading ? 'Por favor espere...' : 'No hay datos para mostrar'}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-report>
          <tr class="text-sm">
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.store_id)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.trans_seq)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.create_date)" [style]="{'
              width':'100px'}"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.origin_bucket)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.destiny_bucket)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.action_code)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.item_id)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.document)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.qty)"></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-dialog header={{titleModal}} [(visible)]="showModal" [ngStyle]="{ 'width': widthModal }">
    <p>
      {{textModal}}
    </p>
  </p-dialog>