<div>
  <div class="card" style="margin-bottom: 30px;">
    <div class="block font-bold text-center breport-round mb-3">
      <div class="report-title">Reportes administrativos</div>
      <p class="intro-text">¡Bienvenido al módulo de Reportes Administrativos de Nazan!<br /><br /> Este módulo es la
        herramienta
        perfecta para
        analizar y visualizar los datos de tu empresa de manera eficiente y efectiva. Con el uso de nuestros informes y
        gráficas, podrás identificar fácilmente patrones y tendencias para tomar decisiones informadas y
        mejorar el desempeño de tu negocio. En Nazan, nos comprometemos a ofrecerte las mejores herramientas para que
        puedas optimizar tus procesos y alcanzar tus objetivos empresariales. ¡Disfruta del módulo de Reportes
        Administrativos y comienza a impulsar el crecimiento de tu empresa hoy mismo</p>
    </div>
  </div>

</div>