<main class="template-sidebar-overlay">
  <p-sidebar [modal]="true" [(visible)]="_template.state.sidebarOverlayVisible">
    <div class="mt-5">
      <article class="w-full">
        <div class="text-right">
          <p class="text-white mb-5">
            {{ _store.state.storeSelected.name }}
          </p>
        </div>

        <template-sidebar-menu></template-sidebar-menu>
        <div class="mt-5">
          <span class="mt-5 text-white"
            >Version: {{ env.VERSION.version }}-{{ env.VERSION.hash }}
          </span>
        </div>
      </article>
    </div>
  </p-sidebar>
</main>
<!-- <main
  class="template-sidebar-left surface-900 flex justify-content-between p-5"
>
  <div class="w-full">
    <div class="text-right">
      <p class="text-white">{{ _store.state.storeSelected.name }}</p>
    </div>

  </div>
</main> -->

<!-- /*
<main
  class="template-sidebar-left surface-500 flex justify-content-between p-5"
>
  <div class="w-full">
    <div class="text-right">
      <p class="text-white">{{ _store.state.storeSelected.name }}</p>
    </div>
    <template-sidebar-menu></template-sidebar-menu>
  </div>
</main>

*/ -->
