<!-- <div class="card" style="margin-bottom: 30px;">
  <div class="card-container yellow-container">
    <div class="block font-bold text-left border-round mb-3">
      <div>Listado de Errores</div>
    </div>
    <div class="text-left mb-4">
      <div class="mb-2">Filtrar por:</div>
    </div>
  </div>
</div> -->
<div ng-if>
  <div class="card">
    <p-table [value]="errorsState.errorsState.errorList.data"
      [tableStyle]="{ 'min-width': '50rem', 'font-size':'12px' }">
      <ng-template pTemplate="header">
        <tr>
          <th id="{{responseErrorsLabels.date}}">{{responseErrorsLabels.date}}</th>
          <th id="{{responseErrorsLabels.NroTicket}}">{{responseErrorsLabels.NroTicket}}</th>
          <th id="{{responseErrorsLabels.ErrorModulo}}">{{responseErrorsLabels.ErrorModulo}}</th>
          <th id="{{responseErrorsLabels.ErrorMensaje}}">{{responseErrorsLabels.ErrorMensaje}}</th>
          <th id="{{responseErrorsLabels.ErrorDesc}}">{{responseErrorsLabels.ErrorDesc}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-error>
        <tr>
          <td>
            <span class="block">{{ error.message.date | dateTimeFromIso
              | dateTimeToLocal
              | dateTimeToFormat : "dd/MM/yyyy" }}
            </span>
            <span class="block">{{ error.message.date | dateTimeFromIso
              | dateTimeToLocal
              | dateTimeToFormat : "HH:mm a" }}
            </span>
          </td>
          <td>{{ error.message.error.NroTicket }}</td>
          <td>{{ error.message.error.ErrorModulo }}</td>
          <td>{{ error.message.error.ErrorMensaje }}</td>
          <td>{{ error.message.error.ErrorDesc }}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="take"
      [totalRecords]="errorsState.errorsState.errorList.total" [rowsPerPageOptions]="[10, 20, 50]"></p-paginator>
  </div>
</div>