

  .custom-grid {
    display: flex;
}

.custom-col-half {
    flex: 0 0 50%;
    width: 50%;
}
.custom-col-quarter {
    flex: 0 0 25%;
    width: 25%;
}

.resume-btn:hover{
    cursor: pointer;
}
