<div *ngIf="!showDetail">
  <div class="card" style="margin-bottom: 30px;">
    <div class="block font-bold text-left breport-round mb-3">
      <div class="report-title">Venta de mayoreos</div>
      <p-progressSpinner *ngIf="isLoading" styleClass="w-4rem h-4rem spinner-position" fill="var(--surface-ground)"
        animationDuration=".5s"></p-progressSpinner>
    </div>
    <div class="card-container yellow-container">
      <app-options [showSearch]="true" [showRefresh]="true" [showDownload]="true"
        [showFavorite]="_report.state.sales.wholesale.list.data.length>0?true:false"></app-options>
      <div class="text-left mb-4" *ngIf="_optionServices.optionsState.OptionsEntity.onSearch">
        <div class="mb-2 p-2">Búsqueda por:</div>
        <div class="card-container blue-container flex align-items-center justify-content-start">
          <div class="flex-1 h-4rem">
            <div class="flex flex-column  p-2">
              <label htmlFor="order_id" class="font-bold">{{searchFormEntityLabels.store}}</label>
              <p-autoComplete [(ngModel)]="selectedStore" [dropdown]="true" [suggestions]="suggestions"
                (completeMethod)="filterStores($event)" field="storeInfoName" [style]="{'width':'100%'}"
                placeholder="Seleccionar tienda"></p-autoComplete>

            </div>
          </div>
          <div class="flex-1 h-4rem">
            <div class="flex flex-column p-2">
              <label htmlFor="from" class="font-bold">Desde</label>
              <p-calendar [style]="{'width':'100%'}" [(ngModel)]="from" [readonlyInput]="true"
                dateFormat="dd/mm/yy"></p-calendar>
            </div>
          </div>
          <div class="flex-1 h-4rem">
            <div class="flex flex-column p-2">
              <label htmlFor="to" class="font-bold">Hasta</label>
              <p-calendar [style]="{'width':'100%'}" [(ngModel)]="to" [readonlyInput]="true"
                dateFormat="dd/mm/yy"></p-calendar>
            </div>
          </div>
        </div>
        <div class="card-container blue-container flex align-items-center justify-content-start p-2">
          <p class="mt-4"><p-button tooltip="Buscar" (onClick)="resetFilters()" class="mr-3">Restaurar
              filtros</p-button><p-button (onClick)="handleSearch()" class="search-buttom">Buscar</p-button></p>
        </div>

      </div>
    </div>
  </div>
  <div ng-if>
    <div class="card">
      <div class="grid" *ngIf="_report.state.sales.wholesale.list.data.length>0">
        <div class=" col-12 text-left">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="searchText"
              (ngModelChange)="handleSearchRecords()" />
          </span>
        </div>
      </div>
      <p-table #dt2
        [value]="searchText === '' ? _report.state.sales.wholesale.list.data : _report.state.sales.wholesale.filter.data"
        [paginator]="true" [rows]="15" styleClass="mt-3 p-datatable-sm">
        <ng-template pTemplate="header">
          <tr class="text-sm">
            <th class="text-center" id="{{salesWholesaleLabels.Tienda}}">{{salesWholesaleLabels.Tienda}}</th>
            <th class="text-center" id="{{salesWholesaleLabels.Fecha}}">{{salesWholesaleLabels.Fecha}}</th>
            <th class="text-center" id="{{salesWholesaleLabels.Num_Colaborador}}">
              {{salesWholesaleLabels.Num_Colaborador}}
            </th>
            <th class="text-center" id="{{salesWholesaleLabels.Colaborador}}">
              {{salesWholesaleLabels.Colaborador}}
            </th>
            <th class="text-center" id="{{salesWholesaleLabels.Transacciones_Totales}}">
              {{salesWholesaleLabels.Transacciones_Totales}}</th>
            <th class="text-center" id="{{salesWholesaleLabels.Total_Pares}}">{{salesWholesaleLabels.Total_Pares}}
            </th>
            <th class="text-center" id="{{salesWholesaleLabels.Transacciones_1_Par}}">
              {{salesWholesaleLabels.Transacciones_1_Par}}</th>
            <th class="text-center" id="{{salesWholesaleLabels.Transacciones_2_Par}}">
              {{salesWholesaleLabels.Transacciones_2_Par}}</th>
            <th class="text-center" id="{{salesWholesaleLabels.Transacciones_3_o_Mas_Par}}">
              {{salesWholesaleLabels.Transacciones_3_o_Mas_Par}}</th>
            <th class="text-center" id="{{salesWholesaleLabels.Mayoreos}}">{{salesWholesaleLabels.Mayoreos}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="10" class="text-center">
              {{isLoading ? 'Por favor espere...' : 'No hay datos para mostrar'}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-report>
          <tr class="text-sm">
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.Tienda)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.Fecha)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.Num_Colaborador)" [style]="{'
              width':'100px'}"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.Colaborador)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.Transacciones_Totales)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.Total_Pares)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.Transacciones_1_Par)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.Transacciones_2_Par)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.Transacciones_3_o_Mas_Par)"></td>
            <td class="text-center" [innerHTML]="highlightSearchText(searchText,report.Mayoreos)"></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-dialog header={{titleModal}} [(visible)]="showModal" [ngStyle]="{ 'width': widthModal }">
    <p>
      {{textModal}}
    </p>
  </p-dialog>