* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $scale;
}

@font-face {
  font-family: MetropolisRegular;
  src: url("../../fonts/metropolis.regular.otf") format("opentype");
}

@font-face {
  font-family: MetropolisBold;
  src: url("../../fonts/metropolis.bold.otf") format("opentype");
}

@font-face {
  font-family: MetropolisLight;
  src: url("../../fonts/metropolis.light.otf") format("opentype");
}

body {
  font-family: "MetropolisRegular";
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.template-wrapper {
  min-height: 100vh;
}

.bold {
  font-family: "MetropolisBold";
}

// .block {
//   display: block;
// }
