/* General */
$scale: 14px; /* main font size */
$borderRadius: 12px; /* border radius of template element e.g. card, sidebar */
$transitionDuration: 0.2s; /* transition duration of template elements e.g. sidebar, overlay menus */
$fontPath: "../../fonts/Metropolis-Regular.otf";
$fontFamily: url("#{$fontPath}");
$gold: orange;
