<article class="layout-topbar">
  <div class="grid flex align-items-center">
    <div class="col-4">
      <section #logo>
        <a class="layout-topbar-logo" (click)="goStartPage()">
          <span>Grupo</span><span> &nbsp;</span>
          <span class="font-bold">Nazan</span>
        </a>
      </section>
    </div>
    <div class="col-4">
      <div class="grid">
        <div class="col text-center title-app">Reportes Administrativos</div>
      </div>
    </div>
    <div class="col-4">
      <div
        class="flex align-items-stretch align-items-end vertical-align-middle"
      >
        <div class="col text-center mb-2 text-right">
          Hola! {{ authStateService.stateTemp.userInfo.nombre | uppercase }}
        </div>
        <button
          #menubutton
          class="p-link layout-menu-button layout-topbar-button"
          (click)="layoutService.onOpenSidebar()"
        >
          <i class="pi pi-arrow-right-arrow-left"></i>
        </button>
      </div>
    </div>
  </div>
</article>
