/* You can add global styles to this file, and also import other style files */
@import "assets/styles/template/template.scss";

@import "tailwindcss/base" layer(tailwindcss);
@import "tailwindcss/components" layer(tailwindcss);
@import "tailwindcss/utilities" layer(tailwindcss);


@import "assets/styles/themes/lara-light-indigo/theme.css";


@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

@import "assets/styles/custom/custom.scss";

.logo {
  height: 10vh;
}

.grid-center {
  display: grid;
  place-items: center;
}